---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout page="blog">
  <p><a href="/blog/2012-04-07/language-proposal-dave.html">2012-04-07/language-proposal-dave</a></p>
  <p><a href="/blog/2013-05-29/mildly-successful.html">2013-05-29/mildly-successful</a></p>
</PageLayout>