---
import PageLayout from '../../layouts/PageLayout.astro'
---

<PageLayout page="talks">
  <p>Making money on the internet - <a href="/talks/making-money.pdf">download slides</a></p>
</PageLayout>

